.auto-grid {
    overflow-x: scroll;
    overflow-y: hidden;
}

.auto-grid::-webkit-scrollbar,
.auto-summary::-webkit-scrollbar,
.filter-container::-webkit-scrollbar {
    height: 7px;
}
.sheet-ul::-webkit-scrollbar {
    width: 8px;
}
.auto-grid::-webkit-scrollbar-track,
.auto-summary::-webkit-scrollbar-track,
.filter-container::-webkit-scrollbar-track,
.sheet-ul::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.auto-grid::-webkit-scrollbar-thumb,
.auto-summary::-webkit-scrollbar-thumb,
.filter-container::-webkit-scrollbar-thumb,
.sheet-ul::-webkit-scrollbar-thumb {
    background: #888;
}
.auto-grid::-webkit-scrollbar-thumb:hover,
.auto-summary::-webkit-scrollbar-thumb:hover,
.filter-container::-webkit-scrollbar-thumb:hover,
.sheet-ul::-webkit-scrollbar-thumb:hover {
    background: #555;
}

