/*@media only screen and (min-width: 0) {

    .sheet-ul {
        height: 25vh;
    }
    .auto-grid {
        margin: 10px 0 0 0;
    }
}
@media only screen and (min-width: 1100px) {

    .sheet-ul {
        height: 50vh;
    }
    .auto-grid {
        margin: 0;
    }
}

.auto-list{
    margin-right: 8px;
}

.etsy-tab{
    background: #f26223;
    text-align: center;
    color: white;
    border-radius: 3px;
    padding: 8px 50px;
    margin-bottom: 5px;
}


.ebay-tab{
    background: #86b817;
    text-align: center;
    color: white;
    border-radius: 3px;
    padding: 8px 50px;
}

.auto-grid {
    overflow-x: scroll;
}




.auto-grid::-webkit-scrollbar,
.auto-summary::-webkit-scrollbar,
.filter-container::-webkit-scrollbar {
    height: 7px;
}
.sheet-ul::-webkit-scrollbar {
    width: 8px;
}
.auto-grid::-webkit-scrollbar-track,
.auto-summary::-webkit-scrollbar-track,
.filter-container::-webkit-scrollbar-track,
.sheet-ul::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.auto-grid::-webkit-scrollbar-thumb,
.auto-summary::-webkit-scrollbar-thumb,
.filter-container::-webkit-scrollbar-thumb,
.sheet-ul::-webkit-scrollbar-thumb {
    background: #888;
}
.auto-grid::-webkit-scrollbar-thumb:hover,
.auto-summary::-webkit-scrollbar-thumb:hover,
.filter-container::-webkit-scrollbar-thumb:hover,
.sheet-ul::-webkit-scrollbar-thumb:hover {
    background: #555;
}*/