.total-page {
    margin: 10px 10px 14px 10px;
    display: inline-block;
    float: left;
    font-size: 16px;
}
.month-select-container {
    margin: 4px 0;
}
.paging {
    margin: 0 auto;
}
.paging ul {
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 15px 10px 11px 10px;
    margin: 0 auto;
}
.paging ul li {
    font-size: 12px;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border-radius: 0.25rem;
    background: white;
    cursor: pointer;
    display: inline-block;
    padding: 8px 14px;
    color: #3490dc;
    transition: 0.3s;
}
#page-active {
    color: #fff;
    text-decoration: none;
    background: #3490dc;
}
.page-deactive {
    color: #777;
    text-decoration: none;
    padding: 0 12px;
}
.paging ul li:hover {
    background: #e9eef2;
}
.paging ul li.last {
    border-right: 0;
}
#no-data {
    padding: 8px;
    display: none;
}
.empty-data {
    padding: 8px;
}

.alert {
    width: 30%;
}
.sold-table {
    width: 100%;
    border-collapse: collapse;
    color: #4c4c4c;
    min-width: 1000px;
}
.no-point {
    pointer-events: none;
}
.table-img {
    text-align: center;
}
.sold-table input[type="number"] {
    border: none;
    padding: 1px;
    font-size: 11px;
    height: 20px;
}
.empty {
    background: 0 0 !important;
    border: none !important;
}
.auto_image {
    padding: 0 !important;
    height: 26px !important;
    margin-top: 5px;
}
.sold-table input:focus {
    outline: 0;
    color: #007bff;
}
.sold-table tr:nth-child(1) th {
    padding: 3px;
    color: #fff;
    font-weight: 400;
    font-size: 11px;
    text-align: left;
}


tbody tr{
    border-left: solid 6px transparent;
}

tbody tr:hover{
    border-left: solid 6px #3490dc;
}

tbody tr:hover .table-input{
    background: #edf5ff !important;
}

.item-cost {
    width: 60px;
    background: transparent;
}
.shipping-cost {
    width: 80px;
    background: transparent;
}
.table-val {
    pointer-events: none;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: hidden;
    padding: 3px;
    font-size: 11px;
    height: auto;
}
.table-name {
    width: 200px;
}

.sold-table tbody tr td:first-child {
    text-align: center;
}
table {
    background: #fff;
}
.all-input-th {
    width: 26px;
}
.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top:0px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    background: #ededed;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: auto;
    outline: 0;
    position: relative;
    z-index: 999;
    outline: 0;
}
.option-input:hover {
    background: #cfcfcf;
}
.option-input:focus {
    color: #fff !important;
    outline: 0 !important;
}
.option-input:checked {
    background: #70bf73;
    outline: 0;
}
.option-input:checked::before {
    outline: 0;
    height: 15px;
    width: 15px;
    position: absolute;
    content: "✔";
    left: 2px;
    display: inline-block;
    font-size: 16.66667px;
    text-align: center;
    line-height: 21px;
}
.add_sales_btn {
    margin-top: 0 !important;
}

.transaction {
    border-top: 1px solid #eaeaea;
}

.item_cost_div {
    font-size: 11px;
}
.tooltip img {
    width: 28px;
    padding: 5px 10px 5px 5px;
}
.tooltip {
    display: inline-block;
    position: relative;
    text-align: left;
}
