@media only screen and (min-width: 0) {
    .auto-inner {
        display: block;
    }
    .auto-container {
        width: 100%;
        padding: 10px 0 0 0;
    }
    .auto-list-container {
        width: 100%;
    }
}
@media only screen and (min-width: 1100px) {
    .auto-inner {
        display: flex;
        justify-content: space-between;
    }
    .auto-container {
        width: 87%;
        padding: 0 5px;
    }
    .auto-list-container {
        width: 13%;
    }

}

.auto-list-container {
    border: solid 1px rgba(0, 0, 0, 0.25);
    background: #fff;
}

.auto-list {
    position: relative;
    padding-bottom: 42px;
    background: #fff;
}
.auto-list h2 {
    padding: 5px 0 5px 10px;
    font-weight: 400;
    font-size: 20px;
    border-bottom: solid 1px #eaeaea;
}

.auto-grid {
    font-size: 13px;
    overflow-x: scroll;
    border: solid 1px rgba(0, 0, 0, 0.25);
    padding: 2.5px;
}


@import url(https://fonts.googleapis.com/css?family=Audiowide);
.total-entries {
    padding: 10px 10px 10px 0px;
    text-align: right;
    font-size: 16px;
    width: 100%;
}

.total-page{
    margin: 10px 10px 14px 10px;
    display: inline-block;
    float:left;
    font-size: 16px;
}

.month-select-container{
    margin :4px 0px;
}

.paging {
    margin: 0 auto;
    border-top: 1px solid #d8d8d8;
}
.paging ul {
    width: 100%;
    text-align: center;
    list-style: none;
    padding: 15px 10px 11px 10px;
    margin: 0 auto;
}
.paging ul li {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #d8d8d8;
    padding: 8px 14px;
    color:#3490dc;
    transition:.3s;
}
#page-active {
    color:white;
    text-decoration: none;
    background:#3490dc;
}
.page-deactive {
    color: #777;
    text-decoration: none;
    padding: 0 12px;
}
.paging ul li:hover {
    background:#d8d8d8;
}
.paging ul li.last {
    border-right: 0;
}
#no-data {
    padding: 8px;
    display: none;
}
.empty-data {
    padding: 8px;
}
.text-center {
    text-align: center;
}
.alert {
    width: 30%;
}
.sold-table {
    width: 100%;
    border-collapse: collapse;
    color: #4c4c4c;
    min-width: 1000px;
}
.no-point {
    pointer-events: none;
}
.table-img {
    text-align: center;
}
.sold-table input[type="number"] {
    border: none;
    padding: 1px;
    font-size: 11px;
    height: 20px;
}
.empty {
    background: 0 0 !important;
    border: none !important;
}
.auto_image {
    padding: 0 !important;
    height: 26px !important;
    margin-top: 5px;
}
.sold-table input:focus {
    outline: 0;
    color: #007bff;
}
.sold-table tr:nth-child(1) th {
    text-align: left;
    padding: 3px 3px;
    color: #fff;
    font-weight: 400;
    font-size: 11px;
}
.item-cost,
.shipping-cost,
.table-input {
    background: #edf5ff !important;
}
.item-cost,
.shipping-cost {
    padding-left: 3px !important;
}
tr:first-child th:nth-child(12),
tr:first-child th:nth-child(13),
tr:first-child th:nth-child(14),
tr:first-child th:nth-child(15),
tr:first-child th:nth-child(16),
tr:first-child th:nth-child(17),
tr:first-child th:nth-child(18) {
    background: rgba(200, 35, 51, 0.8);
    border: solid 1px rgba(200, 35, 51, 0.8);
}
tr:first-child th:nth-child(20),
tr:first-child th:nth-child(7) {
    background: rgba(76, 175, 80, 0.8);
    border: solid 1px rgba(76, 175, 80, 0.8);
}
tr:first-child th:nth-child(3),
tr:first-child th:nth-child(4),
tr:first-child th:nth-child(6) {
    background: rgba(249, 154, 54, 0.9);
    border: solid 1px rgba(249, 154, 54, 0.9);
}
tr:first-child th:nth-child(2),
tr:first-child th:nth-child(5) {
    background: rgba(255, 123, 76, 0.9);
    border: solid 1px rgba(255, 123, 76, 0.9);
}
tr:first-child th:nth-child(11),
tr:first-child th:nth-child(9) {
    background: rgba(255, 193, 7, 0.9);
    border: solid 1px rgba(255, 193, 7, 0.9);
}
tr:first-child th:nth-child(10),
tr:first-child th:nth-child(19),
tr:first-child th:nth-child(8) {
    background: #3490dc;
    border: solid 1px #3490dc;
}
.item-cost {
    background: #f9fbff;
    width: 60px;
}
.shipping-cost {
    background: #f9fbff;
    width: 80px;
}

.table-val {
    pointer-events: none;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: hidden;
    padding: 3px;
    font-size: 11px;
    height: auto;
}
.table-name {
    width: 200px;
}
.sold-table tbody,
.sold-table thead {
    border: 1px solid #e4e4e4;
}
.sold-table tbody tr td:first-child {
    text-align: center;
}
table {
    background: #fff;
}
.all-input-th {
    width: 26px;
}
.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 2.8px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    background: #ededed;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: auto;
    outline: none;
    position: relative;
    z-index: 999;
    outline: none;
}
.option-input:hover {
    background: #cfcfcf;
}
.option-input:focus {
    color: #fff !important;
    outline: none !important;
}
.option-input:checked {
    background: #70bf73;
    outline: none;
}
.option-input:checked::before {
    outline: none;
    height: 15px;
    width: 15px;
    position: absolute;
    content: "✔";
    left: 2px;
    display: inline-block;
    font-size: 16.66667px;
    text-align: center;
    line-height: 21px;
}

.add_sales_btn {
    margin-top: 0px !important;
}

.transaction{
    border-top: 1px solid #eaeaea;
}

.listing{
    border-left:1px solid #eaeaea;
    border-right:1px solid #eaeaea;
}

.item_cost_div{
    font-size: 11px;
}

.tooltip img {
    width: 28px;
    padding: 5px 10px 5px 5px;
}

.tooltip {
    display: inline-block;
    position: relative;
    text-align: left;
}