@font-face {
    font-family: icomoon;
    src: url(../fonts/icomoon.eot?wvs5pj);
    src: url(../fonts/icomoon.eot?wvs5pj#iefix) format("embedded-opentype"), url(../fonts/icomoon.ttf?wvs5pj) format("truetype"), url(../fonts/icomoon.woff?wvs5pj) format("woff"), url(../fonts/icomoon.svg?wvs5pj#icomoon) format("svg");
    font-weight: 400;
    font-style: normal;
}
[class*=" icon-"],
[class^="icon-"] {
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-search:before {
    content: "\e900";
}
.icon-checkmark:before {
    content: "\e901";
}
.icon-download:before {
    content: "\e960";
}
.icon-cog:before {
    content: "\e994";
}
.icon-arrow-left:before {
    content: "\ea38";
}
.icon-facebook2:before {
    content: "\ea91";
}
.icon-instagram:before {
    content: "\ea92";
}
* {
    padding: 0;
    margin: 0;
    font-family: Nunito, sans-serif;
    box-sizing: border-box;
}
:after,
:before {
    box-sizing: border-box;
}
html {
    height: 100%;
    position: relative;
}
body {
    min-height: 100vh;
    display: block;
    position: relative;
}
main {
    padding: 0 10px;
}
button:focus {
    outline: 0;
}
@media only screen and (min-width: 0) {
    #main-calculator {
        margin: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }
    .main-container {
        background: #fff;
        max-width: 500px;
        margin: 10px auto 10px auto;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.25);
    }
    .input-container {
        padding: 0 0 15px 3px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        display: -ms-grid;
        -ms-grid-columns: 100%;
        -ms-grid-rows: auto auto;
        align-items: center;
    }
    .input-container div:nth-child(2) {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
    }
    .label {
        padding: 0 0 15px 0;
    }
    .question_img {
        width: 60%;
        vertical-align: middle;
    }
    .label {
        display: grid;
        grid-template-columns: 8% 92%;
        display: -ms-grid;
        -ms-grid-columns: 5% 95%;
        -ms-grid-rows: auto;
    }
    #category-container {
        padding: 0 0 15px 3px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        display: -ms-grid;
        -ms-grid-columns: 100%;
        -ms-grid-rows: auto auto;
    }
    #category-container div:nth-child(2) {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
    }
    .details-container .about-container {
        max-width: 500px;
        margin: auto auto 10px auto;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
    }
    .chart-container {
        max-width: 500px;
        margin: auto auto 10px auto;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
        padding: 25px;
    }
    .modal-content input {
        width: 100%;
    }
}
@media only screen and (min-width: 500px) {
    .logo {
        display: block;
        width: 15%;
    }
    .main-container {
        max-width: 500px;
        margin: 60px auto 30px auto;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.25);
    }
    .input-container {
        padding: 0 0 15px 3px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        display: -ms-grid;
        -ms-grid-columns: 100%;
        -ms-grid-rows: auto auto;
    }
    .input-container div:nth-child(2) {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
    }
    .label {
        padding: 0 0 15px 0;
    }
    .question_img {
        width: 50%;
        vertical-align: middle;
    }
    .label {
        display: grid;
        grid-template-columns: 8% 92%;
        display: -ms-grid;
        -ms-grid-columns: 8% 92%;
        -ms-grid-rows: auto;
    }
    #category-container {
        padding: 0 0 15px 3px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        display: -ms-grid;
        -ms-grid-columns: 100%;
        -ms-grid-rows: auto auto;
    }
    #category-container div:nth-child(2) {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
    }
    .details-container .about-container {
        max-width: 500px;
        margin: auto auto 30px auto;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
    }
    .chart-container {
        max-width: 500px;
        margin: auto auto 30px auto;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
    }
}
@media only screen and (min-width: 800px) {
    .logo {
        display: block;
        width: 15%;
    }
    .main-container {
        max-width: 500px;
        margin: 60px auto 60px auto;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.25);
    }
    .input-container {
        padding: 0 0 15px 3px;
        display: grid;
        grid-template-columns: 50% 50%;
        display: -ms-grid;
        -ms-grid-columns: 50% 50%;
        -ms-grid-rows: auto;
    }
    .input-container div:nth-child(2) {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
    }
    .label {
        padding: 0;
    }
    .question_img {
        width: 50%;
        vertical-align: middle;
    }
    .label {
        display: grid;
        grid-template-columns: 15% 85%;
        display: -ms-grid;
        -ms-grid-columns: 15% 85%;
        -ms-grid-rows: auto;
    }
    .details-container .about-container {
        max-width: 500px;
        margin: auto auto 60px auto;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
    }
    .chart-container {
        max-width: 500px;
        margin: auto auto 60px auto;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
    }
    #category-container {
        padding: 0 0 15px 3px;
        display: grid;
        grid-template-columns: 50% 50%;
        display: -ms-grid;
        -ms-grid-columns: 50% 50%;
        -ms-grid-rows: auto;
    }
    #category-container div:nth-child(2) {
        -ms-grid-column: 2;
        -ms-grid-row: 1;
    }
    .modal-content input {
        width: 45%;
    }
}
@media only screen and (min-width: 1050px) {
    #main-calculator {
        margin: auto;
        max-width: 1080px;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .details-container .about-container {
        max-width: 500px;
        margin: 60px auto auto auto;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
    }
    .chart-container {
        max-width: 500px;
        margin: 40px auto 60px auto;
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
    }
}
.hidden {
    overflow: hidden;
}
.outer-arrow h2 {
    width: 100%;
    font-size: 1.5em;
    color: #fff;
    font-weight: 300;
    padding: 10px 15px 10px 15px;
    background: #161616;
}
.cbp-spmenu h3 {
    font-weight: 300;
    font-size: 0.75em;
}
.outer-arrow {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px #303030 solid;
}
.icon-arrow-left {
    font-size: 0.8em;
    cursor: pointer;
    color: #fff;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    display: inline-block;
    background: #262626;
    border-radius: 3px;
}
nav {
    display: block;
    max-width: 100%;
    margin: auto;
    background: #fff;
}
nav ul {
    max-width: 800px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 1fr;
}
nav ul li:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
    cursor: pointer;
}
nav ul li:nth-child(3) {
    -ms-grid-column: 3;
    -ms-grid-row: 1;
}
nav ul li {
    list-style: none;
    transition: 0.3s;
}
nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
nav ul li a:hover {
    color: #d3d3d3;
}
a {
    text-decoration: none;
}
.shadow {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #75767a;
    display: none;
    opacity: 0.6;
    z-index: 1000;
}
.activate {
    display: block;
}
option:disabled {
    font-weight: 700;
    color: #029bdd;
}
.cbp-spmenu {
    background: #161616;
    position: fixed;
    -webkit-transform: translateZ(0);
}
.icon-facebook2 {
    color: #4267b2 !important;
}
.icon-instagram {
    background: -webkit-linear-gradient(#ff9549, #b131ba) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
}
#outer-nav {
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;
}
#outer-nav::-webkit-scrollbar {
    display: none;
}
.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    transition: 0.3s;
}
.cbp-spmenu a:hover {
    background: #258ecd;
}
.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
}
.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
}
.cbp-spmenu-vertical a {
    padding: 0.4em;
}
.cbp-spmenu-left {
    left: -240px;
}
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0;
}
.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
.cbp-spmenu-push-toleft {
    left: -240px;
}
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
@media screen and (max-height: 26.375em) {
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }
    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.header-img-container {
    overflow: hidden;
}
.logo-container {
    max-width: 800px;
    margin: auto;
    padding: 20px 10px;
}
.label div:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}
.details-container h2 {
    font-size: 30px;
    text-align: center;
    padding: 20px;
}
.details-container p {
    padding: 25px 25px 25px 25px;
}
.details-container a {
    color: #5998ff;
    transition: 0.25s;
}
.details-container a:hover {
    color: #91baff;
}
#category-container select,
.input-container input,
.input-container select {
    font-size: 13px;
    border: solid 1px #d6d6d6;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px;
    display: block;
    background: #fff;
}
.tax-container {
    position: relative;
    width: 35%;
}
.symbol {
    position: absolute;
    top: 3px;
    right: -18px;
}
.input-container input[type="checkbox"] {
    width: auto;
    display: inline-block;
}
.input-paypal-container {
    display: grid;
    grid-template-columns: 50% 50%;
    display: -ms-grid;
    -ms-grid-columns: 50% 50%;
    -ms-grid-rows: auto;
}
.input-paypal-container div:nth-child(2) {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
}
.fee_profit-container {
    border: solid 1px #d6d6d6;
    padding: 6px 12px 6px 12px;
}
.fee_profit-inner {
    padding: 6px 0;
}
.fee_profit-outside {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.p-reset {
    border: none;
    outline: 0;
    margin: 6px 0;
    padding: 5px 15px;
    background: #262626;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}
.p-edit {
    border: none;
    outline: 0;
    margin: 6px 0;
    padding: 5px 15px;
    background: #262626;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}
.blue-btn {
    background: #3490dc;
    color: #fff;
    border: none;
    padding: 6px 18px;
    border-radius: 4px;
    cursor: pointer;
}
.right-btn {
    background: #3490dc;
    border: none;
    border-radius: 3px;
    color: #fff;
    margin: 6px 0;
    padding: 6px 18px;
    cursor: pointer;
    outline: 0;
}
.left-btn {
    background: #c82333;
    border: none;
    border-radius: 3px;
    color: #fff;
    margin: 6px 0;
    padding: 6px 18px;
    cursor: pointer;
    outline: 0;
}
#sub_status .modal-dialog {
    max-width: 500px;
}
#sub_status .modal-main {
    background: #3490dc;
    margin: 16px;
    padding: 10px;
    font-size: 15px;
    border-radius: 4px;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.25);
}
#sub_status p {
    color: #fff;
}
.modal-main p:first-child {
    font-weight: 700;
    font-size: 30px;
}
.modal-main b {
    font-size: 20px;
}
.modal-content input {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    padding: 3px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.modal-content input:focus {
    outline: 0;
    border-bottom: 1px solid #3490dc;
}
.p-fees {
    color: #f75959;
}
.p-after-amount {
    color: #42e833;
}
.standard {
    display: none;
    font-size: 15px;
}
.standard input {
    width: 15%;
    font-size: 13px;
}
.add_sales_btn,
.add_sheet_btn,
.create_sheet,
.new_sheet_btn {
    background: #3490dc;
    border: none;
    border-radius: 3px;
    color: #fff;
    margin: 6px 0;
    padding: 5px 15px;
    cursor: pointer;
    outline: 0;
}
.how_btn {
    background: #4caf50;
    border: none;
    border-radius: 3px;
    color: #fff;
    margin: 0 0 6px 0;
    padding: 5px 15px;
    cursor: pointer;
    outline: 0;
}
.create_sheet {
    margin: 0 0 6px 0;
}
#sheet_page_list {
    font-size: 13px;
    border: solid 1px #d6d6d6;
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3.5px;
    background: #fff;
    border-radius: 3px;
}
.ad-container {
    width: 100%;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px 20px;
    background: #262626;
    color: #fff;
    text-align: center;
    font-size: 10px;
}
footer a {
    text-decoration: none;
}
footer div div:nth-child(2) {
    padding-bottom: 20px;
}
.icons {
    font-size: 25px;
    padding: 0 5px;
    transition: 0.4s;
}
.copyright {
    padding-top: 20px;
}
.tooltip {
    display: inline-block;
    position: relative;
    text-align: left;
}
.tooltip h3 {
    margin: 10px 0;
}
.tooltip .right {
    min-width: 200px;
    max-width: 400px;
    top: 50%;
    left: 100%;
    transform: translate(0, -50%);
    padding: 0;
    color: #eee;
    background-color: #444;
    font-weight: 400;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.7s;
}
.tooltip:hover .right {
    visibility: visible;
    opacity: 1;
}
.tooltip .text-content {
    padding: 10px 15px;
}
.tooltip .right i {
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -12px;
    width: 12px;
    height: 24px;
    overflow: hidden;
}
.tooltip .right i::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(-45deg);
    background-color: #444;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}
@media print {
    @page {
        margin: 0.2cm;
    }
    .spreadsheet-grid {
        overflow: visible !important;
    }
    table {
        width: 100%;
    }
    table tr:nth-child(2) th input {
        margin: 1px 0 0 0 !important;
    }
    table tr:first-child th:nth-child(-n + 11) {
        border-left: none !important;
        border-right: none !important;
        border-top: none !important;
    }
    table tr:first-child th:nth-child(1) {
        color: rgba(255, 123, 76, 0.9);
    }
    table tr:first-child th:nth-child(2) {
        color: rgba(249, 154, 54, 0.9);
    }
    table tr:first-child th:nth-child(3),
    tr:first-child th:nth-child(5) {
        color: rgba(0, 123, 255, 0.9);
    }
    table tr:first-child th:nth-child(4),
    tr:first-child th:nth-child(6) {
        color: rgba(255, 193, 7, 0.9);
    }
    table tr:first-child th:nth-child(7),
    tr:first-child th:nth-child(10),
    tr:first-child th:nth-child(8),
    tr:first-child th:nth-child(9) {
        color: rgba(200, 35, 51, 0.8);
    }
    table tr:first-child th:nth-child(11) {
        color: rgba(76, 175, 80, 0.8);
    }
    .summary-case {
        min-width: 49.2% !important;
    }
    .summary-case:nth-child(3) {
        display: none;
    }
    .summary-case:nth-child(4) {
        display: none;
    }
    .logo-container {
        margin: 15px;
        padding: 0;
    }
    img {
        width: 10%;
        padding: 0;
        margin: 0;
    }
    .navbar-toggler,
    .question_img,
    .sales_delete,
    .sales_edit,
    .spreadsheet-list-container,
    footer,
    nav {
        display: none;
    }
}
.alert {
    background: rgba(76, 175, 80) !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white !important;
}
#close_alert,
.alert {
    padding: 0.5rem 25% !important;
}
